@model IEnumerable<BancaTcc.Models.Disciplinas>
    @{
    ViewBag.Title = "Disciplina";
    }

    <h2>Disciplina</h2>
    <a class="btn btn-primary" href="~/Disciplina/CreateDisciplina">Adicionar Disciplina</a>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Id</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
        <tr>
            <th>@item.Nome</th>
            <th>@item.Id</th>
            <th><a class="btn btn-warning" href="~/Disciplina/UpdateDisciplina/@item.Id">Atualizar</a></th>
            <th><a class="btn btn-danger" href="~/Disciplina/DeleteDisciplina/@item.Id">Deletar</a></th>
        </tr>
        }
    </table>
