@model BancaTcc.Models.Professor
@{
    ViewBag.Title = "CreateProfessor";
}

<h2>Novo Professor</h2>

<div class="panel">
    <form action="~/Professor/CreateProfessor" method="post">
        <div class="form-group">
            <label>Id</label>
            <input class="form-control" type="number" id="Id" name="Id" placeholder="Identificador do Professor" />
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text" id="Nome" name="Nome" placeholder="Nome do Professor" />
        </div>

        <button type="submit" class="btn btn-default">Cadastrar Professor</button>
    </form>
</div>