@model IEnumerable<BancaTcc.Models.Professor>
    @{
    ViewBag.Title = "Professor";
    }

    <h2>Professor</h2>
    <a class="btn btn-primary" href="~/Professor/CreateProfessor">Adicionar Professor</a>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Id</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
        <tr>
            <th>@item.Nome</th>
            <th>@item.Id</th>
            <th><a class="btn btn-warning" href="~/Professor/UpdateProfessor/@item.Id">Atualizar</a></th>
            <th><a class="btn btn-danger" href="~/Professor/DeleteProfessor/@item.Id">Deletar</a></th>
        </tr>
        }
    </table>
